/* Add SASS */
/**
*
* colors CSS
*
**/
.white,
.white * {
  color: #ffffff;
}

.black,
.black * {
  color: #000000;
 }

.grey,
.grey * {
  color: #8E8E8E;
}

.blue,
.blue * {
  color: #2980B9;
}

.cloud,
.cloud * {
    color: #ECF0F1;
}

.midnightblue,
.midnightblue * {
    color: #2C3E50;
}
.pomegranate,
.pomegranate * {
  color:#C0392B;  
}
.pumpkin,
.pumpkin * {
  color:#D35400;  
}
.pomegranate,
.pomegranate * {
  color:#C0392B;  
}
.pomegranate,
.pomegranate * {
  color:#C0392B;  
}
.cyan,
.cyan *{
  color: #16A085;
} 
/**
*
* Typography CSS
*
**/

/**
*
* Main navigation CSS
*
**/

/**
*
* Page header CSS
*
**/

/**
*
* Content CSS
*
**/

.clear {
  clear: both; }

/**
*
* Toggle CSS
*
**/

/**
*
* Testimonial CSS
*
**/
/**
*
* Slider CSS
*
**/
/**
*
* Inputs CSS
*
**/


/*  buttons */


/**
*
* Footer CSS
*
**/
